# ---------------------------------- Directories --------------------------------- #
/.venv/*
/data/*
py_scripts/__pycache__/
rust_scripts/target/

# ----------------------------------- Files ---------------------------------- #
.env