# ---------------------------------- Directories --------------------------------- #
/.venv/*
data/in_use/
data/deprecated/

# ----------------------------------- Files ---------------------------------- #
.env