# ---------------------------------- Directories --------------------------------- #
/.venv/*
/data/*
py_scripts/__pycache__/
rust_scripts/target/

# ----------------------------------- Files ---------------------------------- #
.env

# --------------------------------- summaries -------------------------------- #
rust_scripts/.summary.txt
py_scripts/.summary.txt
.summary.txt